tbody td {
  text-align: center;
  border-bottom: solid 2px black;
  text-align: center;
  border-bottom: solid 2px black;
  border-right: solid 1px black;
  border-left: solid 1px black;
  padding: 0px 30px;
}

.principal {
  text-align: center;
  background-color: #fee4c3;
  border: solid 5px black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 auto;
  margin-top: 150px;
}
tfoot td {
  background-color: #04b8fd;
}

caption span {
  background-color: #04b8fd;
  font-size: 20px;
  font-weight: 600;
  font-family: cursive;
}
