body {
  margin: 0px;
}
.contenedor {
  height: 100vh; /* ponemos el 100% de la pantalla, pero de esta manera solo es lo visual, por lo que usamos "vh"*/
  display: grid;
  grid-template-columns: 1fr 1fr; /*ponemos el grid template para decirle que queremos 2 columsas del mismo tamaño con el 1fr 1fr*/
  grid-template-rows: 1fr 1fr; /* Lo mismo para las filas que queremos, en este caso 2 del mismo tamaño*/
}

.comida {
  background-color: green;
}

.jugar {
  background-color: yellow;
}

.pelear {
  background-color: pink;
}

.dormir {
  background-color: skyblue;
}
