@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-hidden {
  opacity: 0;
}

.relative:hover .header-hidden {
  animation: slideIn 0.5s forwards;
  opacity: 1;
}

.header-hidden {
  transition: opacity 0.3s ease-in-out;
}
