.div{
    background-color: red;
    outline: dotted 10px black;
    margin: 100px 300px;
    padding: 20px 20px;
    outline-offset: 10px;
    box-shadow: 5px 5px greenyellow; 
}
.div:hover{
    outline: dotted 10px yellowgreen;
}

